.photo-list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  // margin: 0;
  padding: 0;
  row-gap: 24px;
  column-gap: 12px;
}

.photo-list:after {
  content: "";
  flex: 100%;
}