.topic-list__item {
  line-height: 24px;
  margin-left: 24px;
}

.topic-list__item a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: #000;

  &:hover {
    text-decoration: overline;
    color: rgb(200, 0, 0);
  }
}